In [34]:
import pandas as pd
import os
import sys
import shutil

In [2]:
file_path = './data/100examples.csv'
data_file = pd.read_csv(file_path)
data_file.head()

        image        text
0  000007.jpg  000007.txt
1  000026.jpg  000026.txt
2  000032.jpg  000032.txt
3  000033.jpg  000033.txt
4  000034.jpg  000034.txt

In [3]:
data_file.index

RangeIndex(start=0, stop=103, step=1)

In [48]:
img_dir = './data/images/'
label_dir = './data/labels/'
def copy_paste(df_file, column_name, src, dst, same_dir):
    i = 0
    for idx in df_file.index:
        name = df_file[column_name].iloc[idx]
        source = os.path.join(os.getcwd(), src, same_dir, name)
        destination = os.path.join(os.getcwd(), dst, same_dir, name)
        if os.path.isfile(source):
            i += 1
            shutil.copy(source, destination)
            # os.system('cp' + os.path.join(os.getcwd(), src, same_dir, name) + '' + os.path.join(os.getcwd(), dst, same_dir, name))
        else:
            print('Not Found:', name)
    print('Successed', i)

In [49]:
copy_paste(data_file, 'image', 'data', 'split_data', 'images')

Successed 103

In [41]:
copy_paste(data_file, 'text', 'data', 'split_data', 'labels')

Successed